*~
*.fasl
*.fasl.new
*.x86f
*.lx64f
*.wx64f
core
*.orig
*.rej
*.sbcl-policy
ccl-fasl-lock
.DS_Store
#*#
.#*
TAGS
fasls/
*.bse
*.pse
*.dfsl
*.pfsl
*.warn
*.err
*.log
*.image
auto/
dumped-lisp
*~
.env
.env_tmpl
output*.txt